<div class="devise-cover">
<%= stylesheet_link_tag "css/devise", :media => "all" %>

<%= render 'users/header' %>


  <div class="devise-login">
  <h2 class="login">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="devise-field input-group input-group-lg">
      <span class="input-group-addon"> </span>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"devise-form form-control", placeholder: "Email" %>
    </div>

    <div class="devise-field input-group input-group-lg">
      <span class="input-group-addon"> </span>
      <%= f.password_field :password, autocomplete: "password", class:"devise-form form-control", placeholder: "Password" %>
    </div>


    <div class="devise-field">
      <%= f.submit "Log in", class:"btn btn-lg btn-primary btn-block btn-signin" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>

  </div>
</div>