<div class="devise-cover">
<%= stylesheet_link_tag "css/devise", :media => "all" %>

<%= render 'users/header' %>


  <div class="devise-signup">

  <h2 class="signup">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>


    <div class="devise-field input-group input-group-lg">
      <span class="input-group-addon"> </span>
      <%= f.text_field :user_name, autofocus: true, autocomplete: "off", class:"devise-form form-control", placeholder: "User Name" %>
    </div>

    <div class="devise-field input-group input-group-lg">
      <span class="input-group-addon"> </span>
      <%= f.email_field :email, autocomplete: "email", class:"devise-form form-control", placeholder: "Email" %>
    </div>

    <div class="devise-field-3 input-group input-group-lg">
      <span class="input-group-addon"> </span>
      <%= f.password_field :password, autocomplete: "off", class:"devise-form form-control", placeholder: "Password" %>
    </div>

    <div class="devise-password-length">
      <% if @minimum_password_length %>
      <p>(<%= @minimum_password_length %> characters minimum)</p>
      <% end %>
    </div>

    <div class="devise-field input-group input-group-lg">
      <span class="input-group-addon"> </span>
      <%= f.password_field :password_confirmation, autocomplete: "off", class:"devise-form form-control", placeholder: "Password Confirm" %>
    </div>

    <div class="devise-field">
      <%= f.submit "Sign up", class:"btn btn-lg btn-primary btn-block btn-signin" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>

  </div>
</div>
